.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(172, 187, 216, 0.35);
  color: #413e3e;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }

}
@media (max-width: 900px) and (min-width: 320px) {

}
